.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
secret.properties
testFixture/
findruntimeerr/out/*.js.map
findruntimeerr/out/*.js
findruntimeerr/scripts/__pycache__/*.*.pyc
